<footer id="contact" class="footer">
  <div class="container footer__container">
<div class="footer__top flex">
  <div class="footer__logo">
    <picture>
      <img loading="lazy" src="img/svg/logo_1.svg" class="header__logo" alt="Обложка канала MaxGraph">
    </picture>
  </div>
  <div class="footer__nav flex" title="footer">

    <ul class="list-reset flex footer__nav--list">
      <li class="footer__nav--item">
        <a class="footer__nav--date" href="tel:+911234509876">+91 12345 09876</a>
      </li>
      <li class="footer__nav--item">
        <a class="footer__nav--date" href="mailto:info@example.com">
          info@example.com
        </a>
    </ul>
    <ul class="list-reset flex social">
      <li class="social__item"><a href="#" target="_blank" class="social__link"
                                  aria-label="Наша страничка в Фейсбуке">
        <svg class="footer__logo">
          <use xlink:href="img/sprite.svg#footer1" width="30px" height="30px"></use>
        </svg>
      </a></li>
      <li class="social__item"><a href="#" target="_blank" class="social__link"
                                  aria-label="Наша страничка во Вконтакте">
        <svg class="footer__logo">
          <use xlink:href="img/sprite.svg#footer2" width="30px" height="30px"></use>
        </svg>
      </a></li>
      <li class="social__item"><a href="#" target="_blank" class="social__link"
                                  aria-label="Наша страничка в Твиттере">
        <svg class="footer__logo">
          <use xlink:href="img/sprite.svg#footer3" width="30px" height="30px"></use>
        </svg>
      </a></li>
    </ul>
  </div>
</div>
    <hr>
<div class="footer__bottom flex">
  <ul class="list-reset footer__list flex">
    <li class="bottom__item"><a href="#home" class="bottom__link">Home</a></li>
    <li class="bottom__item"><a href="#about" class="bottom__link">About</a></li>
    <li class="bottom__item"><a href="#stack" class="bottom__link">Technologies</a></li>
    <li class="bottom__item"><a href="#project" class="bottom__link">Projects</a></li>
    <li class="bottom__item"><a href="#contact" class="bottom__link">Contact</a></li>
  </ul>
  <p class="footer__copy">
    Designed and built by <span class="pavan">Pavan MG</span> with <span class="love">Love</span> & <span class="coffee">Coffee</span>
  </p>
</div>
  </div>
</footer>
