<header id="home" class="header">
  <div class="container flex header__container">
    <div class="header__left">
     <picture>
       <img loading="lazy" src="img/svg/logo.svg" class="header__logo" width="97" height="59" alt="Обложка канала MaxGraph">
     </picture>
    </div>
    <div class="header__right">
      <nav class="nav flex" data-menu>
        <ul class="list-reset nav__list flex">
          <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#stack" class="nav__link">Tech Stack</a></li>
          <li class="nav__item"><a href="#project" class="nav__link">Projects</a></li>
          <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
        </ul>
        <ul class="list-reset flex social">
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--gh">
            <svg>
              <use xlink:href="img/sprite.svg#github" width="30px" height="30px"></use>
            </svg>
          </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tw">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" width="30px" height="30px"></use>
            </svg>
          </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--in">
            <svg>
              <use xlink:href="img/sprite.svg#in" width="30px" height="30px"></use>
            </svg>
          </a></li>
        </ul>
      </nav>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
