<section id="project" class="project">
  <div class="container project__container">
    <h2 class="project__title title">
      Projects
    </h2>
    <p class="project__subtitle subtitle">
      Things I’ve built so far
    </p>
    <div class="project__card">
      <div class="project__card--item">
        <picture>
          <img loading="lazy" src="../img/project/project__1.jpg" class="project__image" width="375" height="260"
               alt="">
        </picture>
        <div class="project__item">
          <h4 class="project__item--title">
            Project Tile goes here
          </h4>
          <p class="project__item--desc">
            This is sample project description random things are here in description This is sample project lorem ipsum
            generator for dummy content
          </p>
          <p class="project__item--stack">
            <b>Tech stack</b> : HTML , JavaScript, SASS, React
          </p>

          <ul class="list-reset flex project__link">
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">Live Preview</a>
            </li>
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">View Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__card--item">
        <picture>
          <img loading="lazy" src="../img/project/project__2.jpg" class="project__image" width="375" height="260">
        </picture>
        <div class="project__item">
          <h4 class="project__item--title">
            Project Tile goes here
          </h4>
          <p class="project__item--desc">
            This is sample project description random things are here in description This is sample project lorem ipsum
            generator for dummy content
          </p>
          <p class="project__item--stack">
            <b>Tech stack</b> : HTML , JavaScript, SASS, React
          </p>

          <ul class="list-reset flex project__link">
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">Live Preview</a>
            </li>
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">View Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__card--item">
      <picture>
        <img loading="lazy" src="../img/project/project__3.jpg" class="project__image" width="375" height="260">
      </picture>
      <div class="project__item">
        <h4 class="project__item--title">
          Project Tile goes here
        </h4>
        <p class="project__item--desc">
          This is sample project description random things are here in description This is sample project lorem ipsum
          generator for dummy content
        </p>
        <p class="project__item--stack">
          <b>Tech stack</b> : HTML , JavaScript, SASS, React
        </p>

        <ul class="list-reset flex project__link">
          <li class="project__item--link flex">
            <picture>
              <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
            </picture>
            <a href="#" class="project__item--link-li">Live Preview</a>
          </li>
          <li class="project__item--link flex">
            <picture>
              <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
            </picture>
            <a href="#" class="project__item--link-li">View Code</a>
          </li>
        </ul>
      </div>
    </div>
      <div class="project__card--item">
        <picture>
          <img loading="lazy" src="../img/project/project__4.jpg" class="project__image" width="375" height="260"
               alt="">
        </picture>
        <div class="project__item">
          <h4 class="project__item--title">
            Project Tile goes here
          </h4>
          <p class="project__item--desc">
            This is sample project description random things are here in description This is sample project lorem ipsum
            generator for dummy content
          </p>
          <p class="project__item--stack">
            <b>Tech stack</b> : HTML , JavaScript, SASS, React
          </p>

          <ul class="list-reset flex project__link">
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">Live Preview</a>
            </li>
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">View Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__card--item">
        <picture>
          <img loading="lazy" src="../img/project/project__5.jpg" class="project__image" width="375" height="260">
        </picture>
        <div class="project__item">
          <h4 class="project__item--title">
            Project Tile goes here
          </h4>
          <p class="project__item--desc">
            This is sample project description random things are here in description This is sample project lorem ipsum
            generator for dummy content
          </p>
          <p class="project__item--stack">
            <b>Tech stack</b> : HTML , JavaScript, SASS, React
          </p>

          <ul class="list-reset flex project__link">
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">Live Preview</a>
            </li>
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">View Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__card--item">
        <picture>
          <img loading="lazy" src="../img/project/project__6.jpg" class="project__image" width="375" height="260"
            >
        </picture>
        <div class="project__item">
          <h4 class="project__item--title">
            Project Tile goes here
          </h4>
          <p class="project__item--desc">
            This is sample project description random things are here in description This is sample project lorem ipsum
            generator for dummy content
          </p>
          <p class="project__item--stack">
            <b>Tech stack</b> : HTML , JavaScript, SASS, React
          </p>

          <ul class="list-reset flex project__link">
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/link.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">Live Preview</a>
            </li>
            <li class="project__item--link flex">
              <picture>
                <img loading="lazy" src="img/svg/github2.svg" width="20" height="20">
              </picture>
              <a href="#" class="project__item--link-li">View Code</a>
            </li>
          </ul>
        </div>
      </div>
  </div>

  </div>
</section>
